<!DOCTYPE html>
<html>
    <head>
        <title>My Mother info</title>
    </head>
    <body>
        <h1>Relation : Mother</h1>
        <h2>Name : {{name}}</h2>
        <h2>Age : {{age}}</h2>

        <!--Write the correct link for image source in place of #. The images are present in the 
            static folder. If you dont like those images you can use your own as well-->
        <img src = "https://i.pinimg.com/564x/c5/05/51/c5055188310e398422b37f1fa701b081.jpg"  width = "200"/>
    </body>
</html>